div#indexWrapper
  div#indexWrapperInner
      h1
        img(height="126",width="723",alt="REAL CLOTHES DAYS",src="/images/logo_index.png")
      p
        a(href="./hogehoge?first=1") mesure
  - if (item == 'noitem')
      p.message ※採寸することが出来ませんでした。再度カメラボタンをクリックして採寸をし直して下さい。 
